@model List<CapturaAccidentesModel>


    <div class="col-12 mb-4 px-4 rounded gridCustom">

    @(
        Html.Kendo().Grid(Model)
        .Name("gridAciidentesIncompletos")
            .Columns(columns =>
            {
                columns.Bound(c => c.IdAccidente).Title("Id Accidente").Width(90);
                columns.Bound(c => c.Fecha).Format("{0:dd/MM/yyyy}").Width(90);
                columns.Bound(c => c.Hora).Width(90);
                columns.Bound(c => c.Municipio).Width(90);
                columns.Bound(c => c.Carretera).Width(90);
                columns.Bound(c => c.Tramo).Title("Tramo").Width(60);
                columns.Bound(c => c.EstatusReporte).Title("Estatus de Reporte").Width(80);
                // columns.Template("<button onclick='completarAccidente(e)'><h6 class='m-0 colorPrimary'><i class='icon-edit me-2'></i><b>Continuar</b></h6></button>").Width(90);
            columns.Bound(p => p.IdAccidente).ClientTemplate(
            "<button onclick=\"editarAccidente('#= IdAccidente #')\" class='w-100 btn'><h6 class='m-0 colorPrimary'><i class='icon-edit me-2'></i><b>Continuar</b></h6></button>"
            ).Title("").Sortable(false).Width(90); 
            }).HtmlAttributes(new { style = "height:550px" })
            .Pageable(pager => pager.AlwaysVisible(true).Position(GridPagerPosition.Bottom).PageSizes(true))
            .Sortable()
            .Scrollable(scr => scr.Enabled(true)) 
            .DataSource(dataSource => dataSource
                .Ajax()
                .ServerOperation(false)
                .PageSize(5)
            )
            .Groupable()
            .ToolBar(t => t.Custom().Text("Buscar...").Name("search"))
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row)
            )
            )

    @(Html.Kendo().Tooltip()
        .For("#gridAciidentesIncompletos")
        .Filter("th")
        .Position(TooltipPosition.Top)
        .ContentHandler("tooltipContent")
        )

    </div>



<script>
    function editarAccidente(idAccidente) {
        console.log("SI", idAccidente)
        $.ajax({
            url: '/CapturaAccidentes/SetLastInsertedIdEdit',
            type: 'POST',
            data: { idAccidente: idAccidente },
            success: function (result) {

                window.location.href = '/CapturaAccidentes/CapturaAaccidente/?showE=true'

            },

        });
    }
    function tooltipContent(e) {
        var titulo = e.target.context.dataset.title;
        return titulo;
    }
</script>